.navbar {
  background: #2d3e50;
  padding: 12px 20px;
  color: white;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.nav-links a {
  color: white;
  margin: 0 12px;
  text-decoration: none;
}

.logout-btn {
  margin-left: 10px;
  padding: 6px 12px;
  background: crimson;
  color: white;
  border: none;
  cursor: pointer;
}
